body {
    background-color: #FFCC00;
    padding: 0px;
    margin: 0;
}

.page-container {
    position: absolute;
    top: 0;
    width: 100%;
}

h1,
h2,
p,
ul,
li {
    font-family: sans-serif;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #111;
    padding: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #FFF;
    padding: 70px 20px 20px 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.navWide {
    display: none;
    background: #000000;
    width: 100%;
    padding: 10px;
}

.navWide ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.navWide li {
    float: left;
}

.navNarrow {
    padding: 0px;
    float: left;
    background: #000000;
    width: 100%;
    display: block;
    position: absolute;
}
.navNarrow i {
    float: left;
    color: #ffffff;
    padding: 4px;
}

navNarrow .narrowLinks {
    display: none;
}

.navNarrow .narrowLinks {
    display: block;
    float: left;
    clear: left;
    width: 100%;
}

.navNarrow ul {
    padding: 0px;
}

.navNarrow a {
    padding: 3px;
}
@media (min-width: 480px) {
    .navWide {
        display: block;
    }
    .navNarrow {
        display: none;
    }
}

.navWide a {
    padding: 15px;
    color: #FFF;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.narrowLinks {
    background: #111;
    display: none;     /* toggles */
}

.narrowLinks a {
    padding: 6px;
    color: #FFF;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

nav {
    position: fixed;
    width: 100%;
    display: block;
}