body {
    background-color: #FFCC00;
    padding: 20px 20px 20px 20px;
    margin: 0;
}

h1, h2, p, ul, li {
    font-family: sans-serif;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #111;
    padding: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #FFF;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.navWide {
    display: none;
    background: #111;
    width: 100%;

}
.navWide ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navWide li {
    float: left;
}

navNarrow i {
    float: left;
}

navNarrow .narrowLinks {
    display: none;
}

navNarrow .narrowLinks a {
    display: block;
    float: left;
    clear: left;
}

@media (min-width: 480px) {
    .navWide {
            display: block;
        }
    .navNarrow {
            display: none;
        }
    
}

.navWide a {
    padding: 15px;
    color: #FFF;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.narrowLinks {
    position: absolute;
    background: #111;
    display: none;  /* toggles */
}

.narrowLinks a {
    padding: 15px;
    color: #FFF;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

nav {
    position: fixed;
    width: 100%;

display: block;
height: 70px;
background: rgb(40, 29, 59);
}
